<nav class="haut-de-page navbar navbar-expand-lg">
	<div class="container-fluid m">
		<a class="navbar-brand" href="{{path('app_home')}}">
			<img src="{{ asset('images/cheflogo.png') }}" height="70" alt="Quai antique">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bienvenue</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					{% if app.user %}
						{% if app.user.roles[0] == 'ROLE_ADMIN' %}
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="{{path('app_home')}}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_carte')}}">Carte</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_reservation')}}">Réservation</a>
							</li>
							<li class="nav-item hiddenLi">
								<a class="nav-link" href="{{path('app_mentions_legales')}}">Mentions Légales</a>
							</li>
							<li class="nav-item hiddenLi">
								<a class="nav-link" href="{{path('app_politique_de_confidentialite')}}">Politique de confidentialité</a>
							</li>
							<li class="nav-item hiddenLi">
								<a class="nav-link" href="{{path('app_credits')}}">Crédits</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_user',{'id': app.user.id})}}">Mon Compte</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('admin')}}">Administration</a>
							</li>
							<li class="nav-item">
								<a class="btn btnNavbar" href="{{path('app_logout')}}">Déconnexion</a>
							</li>
							<li class="nav-item hiddenLi">
								<table>
									<tr>
										<th class="text-center" colspan="3">
											<h4 class='mt-4'>Horaires</h4>
										</th>
									</tr>
									{% for calendrier in calendriers %}
										<tr>
											<th>{{ calendrier.jour }}</th>
											{% if calendrier.isIsOpen %}
												{% if calendrier.getOMidi != null %}
													{% if calendrier.getFMidi != null %}
														<td style="padding:0 15px 0 0;">{{ calendrier.getOMidi|date('H:i') }}
															-
															{{ calendrier.getFMidi|date('H:i') }}</td>
													{% endif %}
												{% endif %}
												{% if calendrier.getOSoir != null %}
													{% if calendrier.getFSoir != null %}
														<td>{{ calendrier.getOSoir|date('H:i') }}
															-
															{{ calendrier.getFSoir|date('H:i') }}</td>
													{% endif %}
												{% endif %}
											{% else %}
												<td class="text-center" colspan="2">Fermé</td>
											{% endif %}
										</tr>
									{% endfor %}
								</table>
							</li>
						{% endif %}
						{% if app.user.roles[0] == 'ROLE_USER' %}
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="{{path('app_home')}}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_carte')}}">Carte</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_reservation')}}">Réservation</a>
							</li>
							<li class="nav-item hiddenLi">
								<a class="nav-link" href="{{path('app_mentions_legales')}}">Mentions Légales</a>
							</li>
							<li class="nav-item hiddenLi">
								<a class="nav-link" href="{{path('app_politique_de_confidentialite')}}">Politique de confidentialité</a>
							</li>
							<li class="nav-item hiddenLi">
								<a class="nav-link" href="{{path('app_credits')}}">Crédits</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_user',{'id': app.user.id})}}">Mon Compte</a>
							</li>
							<li class="nav-item">
								<a class="btn btnNavbar" href="{{path('app_logout')}}">Déconnexion</a>
							</li>
							<li class="nav-item hiddenLi">
								<table>
									<tr>
										<th class="text-center" colspan="3">
											<h4 class='mt-4'>Horaires</h4>
										</th>
									</tr>
									{% for calendrier in calendriers %}
										<tr>
											<th>{{ calendrier.jour }}</th>
											{% if calendrier.isIsOpen %}
												{% if calendrier.getOMidi != null %}
													{% if calendrier.getFMidi != null %}
														<td style="padding:0 15px 0 0;">{{ calendrier.getOMidi|date('H:i') }}
															-
															{{ calendrier.getFMidi|date('H:i') }}</td>
													{% endif %}
												{% endif %}
												{% if calendrier.getOSoir != null %}
													{% if calendrier.getFSoir != null %}
														<td>{{ calendrier.getOSoir|date('H:i') }}
															-
															{{ calendrier.getFSoir|date('H:i') }}</td>
													{% endif %}
												{% endif %}
											{% else %}
												<td class="text-center" colspan="2">Fermé</td>
											{% endif %}
										</tr>
									{% endfor %}
								</table>
							</li>
						{% endif %}
					{% else %}
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{path('app_home')}}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_carte')}}">Carte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_reservation')}}">Réservation</a>
						</li>
						<li class="nav-item hiddenLi">
							<a class="nav-link" href="{{path('app_mentions_legales')}}">Mentions Légales</a>
						</li>
						<li class="nav-item hiddenLi">
							<a class="nav-link" href="{{path('app_politique_de_confidentialite')}}">Politique de confidentialité</a>
						</li>
						<li class="nav-item hiddenLi">
							<a class="nav-link" href="{{path('app_credits')}}">Crédits</a>
						</li>
						<li class="nav-item">
							<a class="btn btnNavbar" href="{{path('app_register')}}">S'inscrire</a>
						</li>
						<li class="nav-item">
							<a class="btn btnNavbar" href="{{path('app_login')}}">Se connecter</a>
						</li>
						<li class="nav-item hiddenLi mt-5">
							<table>
								<tr>
									<th class="text-center" colspan="3">
										<h4 class='mt-4'>Horaires</h4>
									</th>
								</tr>
								{% for calendrier in calendriers %}
									<tr>
										<th>{{ calendrier.jour }}</th>
										{% if calendrier.isIsOpen %}
											{% if calendrier.getOMidi != null %}
												{% if calendrier.getFMidi != null %}
													<td style="padding:0 15px 0 0;">{{ calendrier.getOMidi|date('H:i') }}
														-
														{{ calendrier.getFMidi|date('H:i') }}</td>
												{% endif %}
											{% endif %}
											{% if calendrier.getOSoir != null %}
												{% if calendrier.getFSoir != null %}
													<td>{{ calendrier.getOSoir|date('H:i') }}
														-
														{{ calendrier.getFSoir|date('H:i') }}</td>
												{% endif %}
											{% endif %}
										{% else %}
											<td class="text-center" colspan="2">Fermé</td>
										{% endif %}
									</tr>
								{% endfor %}
							</table>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
