{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center">Réservation</h1>
		<div class="row">
			<h4 class="mt-4 text-center">Midi place(s) restante(s) :
				<span id="reservation_visiteur_nbConviveM">{{ nbCouvert }}</span>
			</h4>
		</div>
		<div class="row">
			<h4 class="mt-4 text-center">Soir place(s) restante(s) :
				<span id="reservation_visiteur_nbConviveS">{{ nbCouvert }}</span>
			</h4>
		</div>
		{% if user %}
			{{ form_start(reservationForm) }}
			{{ form_row(reservationForm.visiteur_name,{'attr':{'value': user.getNom()}}) }}
			{{ form_row(reservationForm.visiteur_email,{'attr':{'value': user.getEmail()}}) }}
			{{ form_row(reservationForm.visiteur_nb_convive,{'attr':{'value': user.getNombreConvive()}}) }}
			{{ form_row(reservationForm.allergenes) }}
			{{ form_row(reservationForm.date,{'attr': {'id': 'reservation-date'}}) }}
			{{ form_row(reservationForm.heure) }}
			{{ form_row(reservationForm.submit) }}
			{{ form_end(reservationForm) }}
			{% for allergene in user.getAllergenes %}
				<span id="allergenes" class=" d-none">{{ allergene }}</span>
			{% endfor %}
		{% else %}
			{{ form (reservationForm) }}
		{% endif %}
		<div class="row text-center mt-4" id="champRadioMidi">
			<p>Midi:&nbsp;&nbsp;&nbsp;&nbsp;<span id="radioContainerMidi"></span></p>
		</div>
		<div class="row text-center mt-4" id="champRadioSoir">
			<p>Soir:&nbsp;&nbsp;&nbsp;&nbsp;<span id="radioContainerSoir"></span></p>
		</div>
		<span hidden class="js-nombre-total">{{ nbCouvert }}</span>
		</div>
			{% for reservation in reservations %}
				<div hidden class="text-center">
					<span class="js-date-reservation">{{ reservation.getDate|date('Y-m-d')}}</span>
					<span class="js-heure-reservation">{{ reservation.getHeure|date('H:i')}}</span>
					<span class="js-nombre-reservation">{{ reservation.getVisiteurNbConvive()}}</span>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script src="{{ asset('js/reservation.js') }}"></script>
{% endblock %}