{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Réservation</h1>
		{{ form_start(reservationForm) }}
		{% if user %}
			{{ form_row(reservationForm.visiteur_name,{'attr':{'value': user.getNom()}}) }}
			{{ form_row(reservationForm.visiteur_email,{'attr':{'value': user.getEmail()}}) }}
			{{ form_row(reservationForm.visiteur_nb_convive,{'attr':{'value': user.getNombreConvive()}}) }}
			{{ form_row(reservationForm.allergenes) }}
			{{ form_row(reservationForm.date,{'attr': {'id': 'reservation-date'}}) }}

			{{ form_row(reservationForm.heure) }}
			{{ form_row(reservationForm.submit) }}
			{{ form_end(reservationForm) }}
			{% for allergene in user.getAllergenes %}
				<span id="allergenes" class=" d-none">{{ allergene }}</span>
			{% endfor %}
		{% else %}
			{{ form (reservationForm) }}
		{% endif %}
			<div class="row">
				<p class="mt-4 text-center">Nombre de place restante
					{{ nbCouvert }}</p>
			</div>
			{% for reservation in reservations %}
				<div class="text-center">
					<span>Date:
					{{ reservation.getDate|date('d-m-Y')  }}</span>
					<span>Heure:
					{{ reservation.getHeure|date('H:i') }}</span>
					<span>Nombre de convive: 
					{{ reservation.getVisiteurNbConvive() }}</span>
				</div>
			{% endfor %}
	</div>
		<script>
		let allergenesList = document.querySelectorAll('#allergenes');
		for (let i = 0; i < allergenesList.length; i++) {
			let allergene = allergenesList[i].innerHTML;
			let allergeneInputs = document.querySelectorAll('label');
			for (let j = 0; j < allergeneInputs.length; j++) {
				let allergeneInput = allergeneInputs[j];
				if (allergeneInput.innerHTML === allergene) {
					let input = allergeneInput.htmlFor;
					document.getElementById(input).checked = true;
				}
			}
		}
		</script>
{% endblock %}
